/* src/styles/App.css */

.app {
  display: flex;
}

.app-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  transition: margin-left 0.3s ease;
  margin-left: 250px; /* Espacio reservado para el Sidebar abierto */
  margin-top: 60px; /* Espacio reservado para el Topbar */
}

.sidebar.closed ~ .app-content {
  margin-left: 50px; /* Espacio reservado para el Sidebar cerrado */
}
